x64/
Colors.sdf
Colors.opensdf
Colors.VC.VC.opendb
Colors.VC.db
Sandbox.VC.db
Sandbox.opensdf
Sandbox.sdf
Sandbox.VC.VC.opendb
.vs/Sandbox/v14/.suo
perf.txt
SuperBoxBot_character_sheet/
plugins/particle_manager/particle_manager.VC.db
*.diagsession
